*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 56.25em) {
  body {
    padding: 0rem;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}
.heading-primary-main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s;
}
@media (max-width: 37.5em) {
  .heading-primary-main {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}
.heading-primary-sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.6rem;
  animation: moveInRight 1s;
}
@media (max-width: 37.5em) {
  .heading-primary-sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #7cb77b, #376336);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}
.heading-secondary:hover {
  transform: skew(2deg, 2deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

:root {
  --col-gap: 10px;
}

.container {
  max-width: 1500px;
  margin: auto;
  padding: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--col-gap) * -1);
  margin-right: calc(var(--col-gap) * -1);
  margin-bottom: calc(var(--col-gap) * 3);
}

[class*=col-] {
  box-sizing: border-box;
  padding: 0 var(--col-gap) calc(var(--col-gap) * 3);
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.66666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666666%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.333333%;
  }
  .col-md-2 {
    width: 16.66666%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.333333%;
  }
  .col-md-5 {
    width: 41.666666%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.333333%;
  }
  .col-md-8 {
    width: 66.666666%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.333333%;
  }
  .col-md-11 {
    width: 91.666666%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .col-lg-1 {
    width: 8.333333%;
  }
  .col-lg-2 {
    width: 16.66666%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.333333%;
  }
  .col-lg-5 {
    width: 41.666666%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.333333%;
  }
  .col-lg-8 {
    width: 66.666666%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.333333%;
  }
  .col-lg-11 {
    width: 91.666666%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.333333%;
  }
  .col-xl-2 {
    width: 16.66666%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.333333%;
  }
  .col-xl-5 {
    width: 41.666666%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.333333%;
  }
  .col-xl-8 {
    width: 66.666666%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.333333%;
  }
  .col-xl-11 {
    width: 91.666666%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
.btn:link, .btn:visited {
  position: relative;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.6rem;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: all 0.2s;
  display: inline-block;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-white {
  background-color: #fff;
  color: #777;
  margin-top: 20px;
}
.btn-white::after {
  background-color: #fff;
}
.btn-green {
  background-color: #5ba55a;
  color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-animated {
  animation: moveInBottom 0.5s ease-in-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #5ba55a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #5ba55a;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  color: #fff;
  background-color: #5ba55a;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 3px 10px;
  border-radius: 30px;
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(0);
}

.composition {
  position: relative;
}
@media screen and (max-width: 768px) {
  .composition {
    margin-top: 30px;
    height: 20vh;
  }
}
.composition-img {
  width: 55%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  position: absolute;
  z-index: 10;
  transition: all 0.2s;
  outline-offset: 1rem;
}
.composition-img-1 {
  left: 0;
  top: -2rem;
}
.composition-img-2 {
  right: 0;
  top: 2rem;
}
.composition-img-3 {
  left: 10rem;
  top: 10rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .composition-img {
    position: relative;
  }
  .composition-img-1, .composition-img-2, .composition-img-3 {
    left: 20%;
    top: 0;
  }
}
.composition-img:hover {
  outline: 0.8rem solid #5ba55a;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 20;
}
.composition:hover .composition-img:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.6rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 0.2s;
}
.feature-box-icon {
  font-size: 6rem;
  background-image: linear-gradient(to right, #7cb77b, #376336);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}
.card-side {
  height: 50rem;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.card-side-front {
  background-color: #fff;
}
.card-side-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.card-side-back .price {
  font-size: 8rem;
}
.card-side-back-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card-side-back-2 {
  background-image: linear-gradient(to right bottom, #7cb77b, #376336);
}
.card-side-back-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card-side-front {
  transform: rotateY(-180deg);
}
.card:hover .card-side-back {
  transform: rotateY(0);
}
.card-img {
  height: 23rem;
  background-size: cover;
  background-position: center center;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.card-img-1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(/img/HallStatt.jpg);
}
.card-img-2 {
  background-image: linear-gradient(to right bottom, #7cb77b, #376336), url(/img/autumn.jpg);
}
.card-img-3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(/img/winter.jpg);
}
.card-heading {
  position: absolute;
  top: 5%;
  left: 0;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  width: 60%;
}
.card-heading-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  padding: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-heading-2 {
  background-image: linear-gradient(to right bottom, rgba(124, 183, 123, 0.85), rgba(55, 99, 54, 0.85));
  padding: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-heading-3 {
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
  padding: 10px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card-details {
  text-align: center;
}
.card-details ul {
  list-style: none;
  font-size: 1.6rem;
  width: 80%;
  margin: auto;
}
.card-details ul li {
  line-height: 5rem;
  position: relative;
}
.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  transform: skewX(-12deg);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.story > * {
  transform: skewX(12deg);
}
.story-pic {
  width: 15rem;
  height: 15rem;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
}
.story-pic img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.story-pic .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  color: #fff;
  font-size: 2rem;
  width: 10rem;
  z-index: 10;
  transition: all 0.8s ease 0.2s;
}
.story-pic:hover .caption {
  opacity: 1;
}
.story-pic:hover img {
  filter: blur(3px) brightness(80%);
}
.story-text {
  width: calc(100% - 15rem);
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .story {
    flex-wrap: wrap;
    justify-content: center;
  }
  .story-text {
    width: 100%;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  opacity: 0.15;
}
.bg-video-content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.book-form {
  width: 50%;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  .book-form {
    width: 100%;
  }
}
.book-form .form-group:not(:last-child) {
  margin-bottom: 1rem;
}
.book-form .form-input {
  font-family: inherit;
  font-size: 1.6rem;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
}
.book-form .form-input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid #5ba55a;
}
.book-form .form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.book-form .form-input::-webkit-input-placeholder {
  color: #999;
}
.book-form .form-label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.book-form .form-input:-moz-placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.book-form .form-input:placeholder-shown + label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh;
}
@media screen and (max-width: 768px) {
  .section-about {
    padding: 25rem 0 30rem;
  }
}

.section-features {
  margin-top: -25vh;
  padding: 15rem 0;
  -webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(40, 102, 100, 0.7)), url(../img/mountain.jpg);
  background-size: cover;
  background-position: center center;
}
@media screen and (max-width: 768px) {
  .section-features {
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 0 10rem;
  margin-top: -25vh;
}

.section-stories {
  position: relative;
  padding: 10rem 0;
}

.section-booking {
  padding: 15rem 0;
  background-color: #f7f7f7;
}

.book {
  width: 80%;
  margin: auto;
  background-image: linear-gradient(260deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(40, 102, 100, 0.7)), url(../img/mountain.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  height: 45rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .book {
    background-image: linear-gradient(260deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 100%), linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(40, 102, 100, 0.7)), url(../img/mountain.jpg);
  }
}

.header {
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(40, 102, 100, 0.7)), url(../img/mountain.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.logo-box {
  max-width: -moz-max-content;
  max-width: max-content;
}
.logo-box:hover .logo {
  animation: moveInRight 3s;
}

.logo {
  height: 100px;
  padding-top: 20px;
}

.navigation-checkbox {
  display: none;
}
.navigation-btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 20;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  text-align: center;
  cursor: pointer;
}
.navigation-background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7cb77b, #376336);
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation-nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  transition: all 0.8s;
}
.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  width: 100%;
}
.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 250%;
  transition: all 0.4s;
}
.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #5ba55a;
  transform: translateX(1rem);
}
.navigation-link span {
  display: inline-block;
  margin-right: 1rem;
}
.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(50);
}
.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
.navigation-icon {
  position: relative;
  margin-top: 3.3rem;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #999;
  display: inline-block;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -1rem;
}
.navigation-icon::after {
  top: 1rem;
}
.navigation-btn:hover .navigation-icon::before {
  top: -1.2rem;
}
.navigation-btn:hover .navigation-icon::after {
  top: 1.2rem;
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}/*# sourceMappingURL=main.css.map */