.header {
  height: 95vh;
  width: 100%;
  @include defaultBackgroundImage;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;
}

.logo-box {
  max-width: max-content;

  &:hover .logo {
    animation: moveInRight 3s;
  }
}

.logo {
  height: 100px;
  padding-top: 20px;
}
